body {
    margin-top: 0px;
    font-family:"Inter";
}

/* Here begins the navbar */

header {
    /* width: 1600px;
    height: 801px; */

}
.logo {
    width: 145px;
    height: 28px;
    display: inline;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
}

nav {
    width: 333px;
    height: 26px;
    display: inline;
    margin-left: 36px;
    font-weight: 700;
    font-size: 15px;
}

.tab {
    margin-right: 44px;
}

.navbar {
    margin-left: 166px;
    margin-right: 166px;
    margin-top: 16px;
}

a {
    text-decoration: none;
    color:#161C2D;
}

.button {
    width: 209px;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    color: white;
    background-color: #473BF0;
    border: none;
    font-family:"Inter";
    border-radius: 8px;
    margin-left: 358px;
    cursor: pointer;
}
/* Here the navbar ends */

/* the sections */

.texts {
    width: 555px;
    /* margin-left: 244px; */
    margin-right: 107px;
    /* margin-bottom: 20px; */
    height: auto;
    background-color: antiquewhite;
    display: inline-block;

}

.redo {
    font-weight: 700px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0px;
    margin-bottom: 30px;
    color: #F64B4B;
    font-weight: bold;
    display: inline-block;
}

.blacko {
    font-weight: 700;
    font-size: 60px;
    margin: 0;
    margin-bottom: 40px;
    display: inline-block;
}

.Soilo {
    font-weight: 400;
    font-size: 19px;
    color: #585e6a;
    margin: 0;
    margin-bottom: 40px;
    display: inline-block;
}

.pics {
    /* margin-top: 20px; */
    display: inline-block;
    /* margin-top: 116px; */
    background-color: #F64B4B;
}

.in {
    line-height: 100px;
}

.button2 {
    width: 209px;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    color: white;
    background-color: #473BF0;
    border: none;
    font-family:"Inter";
    border-radius: 8px;
    cursor: pointer;
}

.coco {
    margin-left: 244px;
    margin-top: 95px;
    /* height: 504px; */
        background-color: #473BF0;
}