body {
    margin-top: 0px;
    font-family:"Inter";
}

/* Here begins the navbar */

header {
    /* width: 1600px;
    height: 801px; */

}
.logo {
    width: 145px;
    height: 28px;
    display: inline;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
}

nav {
    width: 333px;
    height: 26px;
    display: inline;
    margin-left: 36px;
    font-weight: 700;
    font-size: 15px;
}

.tab {
    margin-right: 44px;
}

.navbar {
    margin-left: 166px;
    margin-right: 166px;
    margin-top: 16px;
}

a {
    text-decoration: none;
    color:#161C2D;
}

.button {
    width: 209px;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    color: white;
    background-color: #473BF0;
    border: none;
    font-family:"Inter";
    border-radius: 8px;
    margin-left: 260px;
    cursor: pointer;
}
/* Here the navbar ends */

/* the span */

.contant {
    width: 1171px;
    height: 544px;
    background-color: #473BF0;
    margin-left: 244px;
    margin-top: 141px;
}

.text {
    width: 541px;
    height: 386px;
    background-color: antiquewhite;
    display: inline-block;
    margin-bottom: 60px;
    /* margin-right: 5px; */
}

.pic {
    width: 463px;
    height: 504px;
    background-color: aquamarine;
    display: inline-block;
    margin-top: 20px;
}

/* Here begins the contant */
.section1 {
    width: 1163px;
    height: 752px;
    background-color: #473BF0;
    margin-left: 245px; 
    margin-top: 250px;
}

.information {
    background-color: aquamarine;
}

.jobs {
    width: 350px;
    height: 483px;
    background-color: antiquewhite;
    display: inline-block;
    margin-right: 31px;
    margin-top: 133px;
    border-radius: 8px;
}