body {
    margin-top: 0px;
    font-family:"Inter";
}

/* Here begins the navbar */

header {
    /* width: 1600px;
    height: 801px; */

}
.logo {
    width: 145px;
    height: 28px;
    display: inline;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
}

nav {
    width: 333px;
    height: 26px;
    display: inline;
    margin-left: 36px;
    font-weight: 700;
    font-size: 15px;
}

.tab {
    margin-right: 44px;
}

.navbar {
    margin-left: 166px;
    margin-right: 166px;
    margin-top: 16px;
}

a {
    text-decoration: none;
    color:#161C2D;
}

.button {
    width: 209px;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    color: white;
    background-color: #473BF0;
    border: none;
    font-family:"Inter";
    border-radius: 8px;
    margin-left: 340px;
    cursor: pointer;
}

/* the span */
.contant {
    /* background-color: #473BF0; */
    margin-left: 244px;
    margin-top: 141px;
    margin-right: 164px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    width: 555px;
    height: 386px;
    /* background-color: antiquewhite; */
    display: inline-block;
    margin-right: 76px;
}

.line1 {
    color: #F64B4B;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0%;
    margin-bottom: 15.72px;
}

.line2 {
    color: #161C2D;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    margin-bottom: 30px;
}

.line3 {
    color: #595f6a;
    font-weight: 400px;
    font-size: 19px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 33px;
}

.line4 {
    width: 209px;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    color: white;
    background-color: #473BF0;
    border: none;
    font-family:"Inter";
    border-radius: 8px;
    cursor: pointer;
}

.pic {
    width: 463px;
    height: 504px;
}

/* Here begins the contant */
/* .section1 {
    width: 1163px;
    height: 752px;
    background-color: #473BF0;
    margin-left: 245px; 
    margin-top: 250px;
}

.information {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row ;
}


.jobs {
    width: 350px;
    height: 483px;
    background-color: antiquewhite;
    display: inline-block;
    margin-right: 31px;
    margin-top: 133px;
    border-radius: 8px;
} */

.gf{
    background-color: #473BF0;
    display: flex;
    font-size: 40px;
    margin: 40px;
    
}

.f1{
    background-color: antiquewhite;
}

.f2{
    background-color: aqua;
}

.f3{
    background-color: blueviolet;
}

.f4{
    background-color: chartreuse;
}

.f5 {
    background-color: brown;
} 

.f6 {
    background-color: darkorange;
}

.f7 {
    background-color: rgb(228, 104, 156);
}