body {
    margin-top: 0px;
    font-family:"Inter";
}

/* Here begins the navbar */

header {
    /* width: 1600px;
    height: 801px; */

}
.logo {
    width: 145px;
    height: 28px;
    display: inline;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
}

nav {
    width: 333px;
    height: 26px;
    display: inline;
    margin-left: 36px;
    font-weight: 700;
    font-size: 15px;
}

.tab {
    margin-right: 44px;
}

.navbar {
    margin-left: 166px;
    margin-right: 166px;
    margin-top: 16px;
}

a {
    text-decoration: none;
    color:#161C2D;
}

.button {
    width: 209px;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    color: white;
    background-color: #473BF0;
    border: none;
    font-family:"Inter";
    border-radius: 8px;
    margin-left: 340px;
    cursor: pointer;
}

/* the span */
.contant {
    /* background-color: #473BF0; */
    margin-left: 244px;
    margin-top: 141px;
    margin-right: 164px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    width: 555px;
    height: 386px;
    /* background-color: antiquewhite; */
    display: inline-block;
    margin-right: 76px;
}

.line1 {
    color: #F64B4B;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0%;
    margin-bottom: 15.72px;
}

.line2 {
    color: #161C2D;
    font-weight: 700;
    font-size: 60px;
    margin: 0;
    margin-bottom: 30px;
}

.line3 {
    color: #595f6a;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 33px;
}

.line4 {
    width: 209px;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    color: white;
    background-color: #473BF0;
    border: none;
    font-family:"Inter";
    border-radius: 8px;
    cursor: pointer;
}

.pic {
    width: 463px;
    height: 504px;
}

/* Here begins the sections */
/* sections*/
/* Chapter1 */
.Our-services {
    margin-top: 100px;
    margin-left: 245px;
    /* margin-right: 192px; */
    width: 1163px;
    /* background-color: antiquewhite; */
}

.first-text {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1.5px;
    /* margin-bottom: 15.72px; */
    /* margin: 0; */
    text-align: center;
    color: #F64B4B;
    text-transform: uppercase;
}

.second-text {
    /* margin-top: 0; */
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 60px;
    text-align: center;
}

.jobs {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    text-align: center;
    /* justify-content: space-between */
    justify-content: space-around
     
}
/* ############## */

.Graphic-Design {
    width: 350px;
    height: 483px;
    background-color: #68D585;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* cursor: pointer; */
}

.GD-img {
    /* display: inline-block; */
}

.GD-title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.GD-text {
    font-weight: 200;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
}

.G-button {
    font-weight: 700;
    font-size: 17px;
    margin-top: 50px;
    text-align: center;
    color: #FFFFFF;
    background-color: #68D585;
    cursor: pointer;
    border: none;
}
/* ############## */

.Web-Development {
    width: 350px;
    height: 483px;
    background-color: #473BF0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* cursor: pointer; */
}

.WD-img {
    text-align: center;
}

.WD-title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.WD-text {
    font-weight: 200;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
}

.P-button {
    font-weight: 700;
    font-size: 17px;
    margin-top: 50px;
    text-align: center;
    color: #FFFFFF;
    background-color: #473BF0;
    cursor: pointer;
    border: none;
}
/* ############## */

.Content-Writing {
    width: 350px;
    height: 483px;
    background-color: #F64B4B;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* cursor: pointer; */
}

.CW-img {
    text-align: center;
}

.CW-title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.CW-text {
     font-weight: 200;
     font-size: 17px;
     text-align: center;
     color: #FFFFFF;
}

.R-button {
    font-weight: 700;
    font-size: 17px;
    margin-top: 50px;
    text-align: center;
    color: #FFFFFF;
    background-color: #F64B4B;
    cursor: pointer;
    border: none;
}
/* Chapter2 */

.UC-backgrond {
    width: 1108px;
    height: 301px;
    margin-left: 248px;
    margin-top: 100px;
    box-shadow: 0px 6px 5px -5px #666;
    /* background-color: antiquewhite; */
    justify-content: space-evenly
}

.User-comments {
    width: 980px;
    height: 178px;
    margin-left: 64px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-evenly;
    /* text-align: center; */
}

.UC-photo {
    /* width: 164px;
    height: 164px; */
}

.UC-contants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.UC-text1 {
    font-weight: 700;
    font-size: 24px;
}

.UC-text2 {
    display: flex;
}

.FH {
    margin-right: 10px;
}

.FH1 {
    font-weight: 700;
    font-size: 17px;
}

.WD1 {
    font-weight: 400;
    font-size: 17px;
    color: #5b606c;
}

/* Chapter3 */
.Our-Story {
    width: 1110px;
    height: 883px;
    margin-left: 245px;
    margin-top: 100px;
    display: flex;
    background-color: antiquewhite;
}

.left {
    background-color: #473BF0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.os {
    margin-top: 0;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #F64B4B;
}

.wk {
    font-weight: 700;
    font-size: 36px;
}

.Right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

}

.R-photo {
    display: flex;
    align-items: center;
    background-color: #68D585;
}

.R-text {
    display: flex;
}

.ws {
    font-weight: 400;
    font-size: 17px;
    color: #595f6a;
     
}

